h1{
    
}
#header{
    border-bottom: solid grey 1px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}
html{
    font-family: sans-serif;
    background-color: #1e1e1e;
    color: white;
}
.menyItem{
    align-self:baseline;
    margin-left: 1em;
    margin-bottom: 0;
}